<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="Home.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
</head>
<body>
    <div id="page-wrapper">
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-6">
                            <a href="#"><img src="Library/249921526_4064783910290254_8850968259882119313_n.png" height="155" width="266"/></a>

                        </div>
                        <div class="col-md-7 d-lg-block">
                            <div class="menu-area-left">
                                <nav>
                                    <ul>
                                        <li><a href="Home.html">Trang Chu</a></li>
                                        <li><a href="">Men</a>
                                            <ul class="mega-menu">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Women</a>
                                            <ul class="mega-menu">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </li>
                                        <li><a href="">ACCESSORIES</a>
                                            <ul class="mega-menu">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Megazine</a>
                                            <ul class="mega-menu">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3 d-lg-block col-6">
                            <div class="menu-area-right">
                                <ul>
                                    <li class="search-bar"><a href=""><i class="fas fa-search" style="color: #00ff80"></i></a>

                                    </li>
                                    <li class="cart-bar"><a href=""><i class="fas fa-shopping-cart"></i></a>
                                        <span></span>
                                        <div class="mini-cart">
                                            <div class="cart-product">
                                                <div class="single-cart">
                                                    <div class="cart-img">
                                                        <a href=""><img src="" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-total">
                                                <h5>Total Price <span>5000$</span></h5>

                                            </div>
                                            <div class="cart-bottom"><a href="">Check Out</a></div>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>
